header{
	position: static;
	padding: 30px 0;
}
.wrapper{
	position: static;
	clear: both;
}
.category-page .tab-div{
	margin: 0;
}
.browse{
	padding: 30px 0;
}
.video-btn{
	width: 44px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -22px 0 0 -22px;
	background: url(../img/play-btn.png) left top no-repeat;
	background-size: cover;
	display: inline-block;
	cursor: pointer;
	z-index: 9;
}
.video-show{
	display: none;
}
.video-cat-list li{
  width: 23.35%;
  margin: 1% 0.7%;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.video-cat-list li .img-div{
	width: 100%;
	margin: 0;
}
.video-cat-list li:before{
	display: none;
}
.video-cat-list li.lib-active .img-div{
  border-color: #fff;
}
.video-cat-list li.lib-active .img-div:after{
	content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 6.5px 0 6.5px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin: 0 0 0 -6.5px;
}
.videolib-detail{
	padding: 0 1.7%;
	margin: -15px 0;
}
.dashboard-banner h2{
	font-size: 50px;
}
.dashboard-banner p{
	font-size: 22px;
	padding: 0;
}
.videolib-detail .dashboard-bg{
	padding: 50% 0 0;
}
.tab-data .clickme a{
	text-transform: uppercase;
	padding: 0 15px 10px;
}
.tab-data .clickme:first-child{
	padding-left: 1%;
}
.title{
	padding: 0 0 0 1%;
}
.tab-data ul{
	padding: 0 1%;
	z-index: 1;
}
.category-page .img-div strong{
	padding: 10px;
	font-size: 18px;
	background: url(../img/browse-bg.png) left top repeat-x;
}
.category-page .img-div:hover strong{
	padding-bottom: 10px;
}
.category-page .img-div strong span{
	font-size: 14px;
}
.category-page h1{
	font-size: 36px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 50px;
	padding: 0 0 0 1%;
}
.cat-filter{
	border: 2px solid #333333;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	margin: 0 30px;
	width: 250px;
	position: relative;
}
.cat-filter:after{
	content: "\e907";
  font-size: 0.85em;
  font-family: icomoon;
  color: #bdc928;
  font-weight: 700;
  position: absolute;
  top: 14px;
  right: 15px;
}
.cat-filter select{
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	background: none;
	color: #747474;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0 15px;
}
.cat-filter select::-ms-expand {
	display: none;
}
.cat-filter select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}
.category-page .tab-data .title{
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
}
.category-page .tab-data .title:after{
	content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/title-arw.jpg) left top no-repeat;
  margin: 0 0 0 15px;
}
.video-cat-list .slick-arrow{
	display: none;
}
.video-cat-list .slick-track{
	margin: 0;
}
.category-page .dashboard-bg:after{
	padding: 0;
	bottom: 0;
}