@media (max-width: 1366px){
	.banner-slider .slick-track{
    height: 600px;
   }
	/* .banner-thumb {
		top: -135px;
	}  */
	.thumb-content{
		height: 225px;
	}
	.slick-center{
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}
@media (max-width: 1250px){
	.content{
		width: 100%;
		padding: 0 30px;
	}
	.banner-content{
		padding: 0 30px;
	}
	.inner{
		padding: 0 25px;
	}
	.easy .steps-left{
		width: 50%;
	}
	.easy .steps-right{
		width: 48%;
	}
}
@media (max-width: 1150px){
	.banner-thumb .slick-list {
	  padding: 0 55px !important;
	}
}
@media (max-width: 1080px){
	nav{
    margin: 6px 0 0;
	}
	nav li{
		padding: 0 0 0 20px;
    line-height: 40px;
	}
	nav a:after{
		margin-top: -8px;
	}
	.steps-left{
		width: 55%;
	}
	.steps-right{
		width: 43%;
	}
	.step-nav li, .features-nav li{
		font-size: 25px;
	}
	.step-nav span, .features-nav span{
		font-size: 28px;
    width: 75px;
    height: 75px;
    line-height: 70px;
	}
}
@media (max-width: 1050px){
	.inner{
		padding: 0;
	}
	.banner-slider .slick-track {
    height: 500px;
	}
}
@media (max-width: 1000px){
	header{
		top: 20px;
	}
	.content{
		padding: 0 20px;
	}
}
@media (max-width: 991px){
	header{
		z-index: 99;
	}
	.mobIcon {
	  display: block;
	}
	.top nav{
		display: none;
		width: 100%;
		position: absolute;
    left: 0;
    top: 70px;
    padding: 0 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: rgba(0, 0, 0, 0.75);
	}
	.top nav ul, .top nav li, .top nav a{
		width: 100%;
		display: block;
	}
	.top nav li, .top nav a{
		float: none;
		padding: 0;
	}
	.top nav li{
		border-bottom: 1px solid #fff;
	}
	.top nav li:last-child{
		border-bottom: none;
	}
	.top nav a{
		font-weight: 400;
	}
	.top nav a:after{
		display: none;
	}
	.login {
    background: none;
    border-radius: 0;
    padding: 0;
	}
	nav .my-account{
		width: 100%;
    text-align: right;
	}
	nav .my-account a{
		display: inline-block;
    width: auto;
    margin: 0;
    float: left;
	}
	.banner-slider .slick-track {
    height: 465px;
	}
	.banner-thumb .slick-list{
		padding: 0 !important;
	}
	.banner-text h2{
		font-size: 75px;
	}
	.banner-text p{
		font-size: 20px;
	}
	.video-banner{
		width: 65px;
		height: 65px;
		margin: -32.5px 0 0 -32.5px;
	}
	.thumb-content{
		height: auto;
		padding-top: 75%;
	}
	.thumb-content strong{
		padding: 15px;
		font-size: 20px;
	}
	.thumb-content strong span{
		font-size: 14px;
	}
	.title{
		font-size: 35px;
	}
	.content p{
		font-size: 22px;
	}
	.img-div strong{
		font-size: 25px;
	}
	.img-div strong span{
		font-size: 16px;
	}
	.img-div strong{
		padding: 30px 20px;
		background: url(../images/browse-bg.png) left top repeat-x;
	}
}
@media (max-width: 767px){
	.video-desk{
		display: none;
	}
	.overlay-div{
		position: relative;
	}
	.overlay-div .mob-video-img{
		display: block;
	}
	.thumb-content {
		padding-top: 56.25%;
	}
	.thumb-content strong{
		display: none;
	}
	.banner-thumb .slick-arrow{
		top: 50%;
	}
	.banner-text h2 {
    font-size: 55px;
	}
	.banner-text p {
    font-size: 15px;
    padding: 5px 0 0;
	}
	.title{
		font-size: 28px;
		margin: 40px 0 30px;
	}
	.content p {
    font-size: 20px;
    padding: 0 0 15px;
	}
	.browse{
		text-align: center;
	}
	.img-div{
		width: 450px;
		margin: 2% 0;
	}
	.slick-current .banner-text{
		top: -20%;
	}
}
@media (max-width:640px){
	.banner-slider .slick-track {
    height: 390px;
	}
}
@media (max-width: 500px){
	.img-div{
		width: 100%;
	}
}
@media (max-width: 420px){
	header{
		top: 0;
    position: relative;
    padding: 15px 0;
    float: left;
	}
	.dashboard-banner h2, .title{
		font-size: 20px;
	}
	.title{
		padding: 0 0 0 15px;
		margin: 20px 0;
	}
	.content p{
		font-size: 16px;
	}
	.video-banner, .video-lib-detail{
		width: 30px;
		height: 30px;
		margin: -15px 0 0 -15px;
	}
	.tab-div{
		margin: 0;
	}
	.tab-data .clickme a{
		font-size: 15px;
    padding: 0 12px 10px;
	}
	.tab-data .clickme a.active, .tab-data .clickme a:hover{
    border-width: 3px;
	}
	.videolib-slider ul{
		margin: 0;
	}
	.dashboard-banner p{
		font-size: 14px;
	}
	.videolib-detail .dashboard-banner-text{
		padding-top: 15px;
		float: left;
	}
	.videolib-pop .simplePopupClose{
		top: 0;
		right: 0;
	}
	.logo{
		width: 160px;
	}
	.logo img{
		width: 100%;
	}
	.dashboard-banner-text{
		display: block;
		padding: 15px;
	}
	.dashboard-banner-text p{
		margin: 5px 0 0;
	}
	.videolib-detail .dashboard-bg{
		padding: 60% 0 0;
	}
	.dashboard-banner{
		display: block;
		padding: 20px 0;
	}
}
@media (max-width: 360px){
	.tab-data .clickme a{
		font-size: 13px;
	}
}
@media (max-width: 325px){
	.tab-data .clickme a{
		padding: 0 7px 10px;
	}
}