@media (max-width: 1366px){
	.banner-slider .slick-track{
    height: 600px;
   }
	/* .banner-thumb {
		top: -135px;
	}  */
	.thumb-content{
		height: 225px;
	}
	.slick-center{
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	.dashboard-banner h2{
		font-size: 55px;
	}
	.dashboard-banner p{
		font-size: 20px;
		padding: 10px;
		margin: 0;
	}
	.dashboard-bg{
		padding: 50% 0 0;
	}
	.tab-div{
		margin: -65px 0 0;
	}
}
@media (max-width: 1250px){
	.content{
		width: 100%;
		padding: 0 30px;
	}
	.banner-content{
		padding: 0 30px;
	}
	.inner{
		padding: 0 25px;
	}
	.easy .steps-left{
		width: 50%;
	}
	.easy .steps-right{
		width: 48%;
	}
}
@media (max-width: 1150px){
	.banner-thumb .slick-list {
	  padding: 0 55px !important;
	}
	.video-cat-list li{
		margin: 1% 0.5%;
	}
}
@media (max-width: 1080px){
	nav{
    margin: 6px 0 0;
	}
	nav li{
		padding: 0 0 0 20px;
    line-height: 40px;
	}
	nav a:after{
		margin-top: -8px;
	}
	.my-account{
		top: -5px;
	}
	.steps-left{
		width: 55%;
	}
	.steps-right{
		width: 43%;
	}
	.step-nav li, .features-nav li{
		font-size: 25px;
	}
	.step-nav span, .features-nav span{
		font-size: 28px;
    width: 75px;
    height: 75px;
    line-height: 70px;
	}
}
@media (max-width: 1050px){
	.inner{
		padding: 0;
	}
	.banner-slider .slick-track {
    height: 500px;
	}
}
@media (max-width: 1024px) {
	.tab-div{
		margin: 30px 0 0;
	}
	.tab-div .title?{
		margin-bottom: 30px;
	}
	.videolib-slider li.lib-active:before{
		border-width: 3px;
	}
	.videolib-slider li.lib-active strong, .videolib-slider li:hover strong{
		display: none;
	}
  ul.be-select-tab.tab-select {
   	border: 1px solid #d0cdcd;
   	border-radius: 5px;
    padding: 0 10px;
    overflow: inherit;
    position: absolute;
    top: 0;
    right: 45px;
    z-index: 9;
    white-space: inherit;
    width: 250px;
    min-width: 170px;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.6);
  }
  ul.be-select-tab.tab-select li {
    display: none;
    font-size: 1.143em;
    font-weight: 400;
    margin: 0;
    opacity: .8;
    padding: 8px 0;
    width: 100%;
  }
  ul.be-select-tab.tab-select li.active {
    align-items: center;
    background: none;
    display: flex;
    justify-content: space-between;
  }
  ul.be-select-tab.tab-select.active li.active a{
  	color: #b4b72f;
  }
  ul.be-select-tab.tab-select li a {
    border: none;
    opacity: 1;
    padding: 0;
    width: 100%;
    position: relative;
    font-weight: 400;
    color: #d0cdcd;
    text-transform: inherit;
  }
  ul.be-select-tab.tab-select li a.active {
    border: none;
    position: relative;
  }
  ul.be-select-tab.tab-select:after {
    content: "\e907";
    font-size: 0.9em;
    font-family: icomoon;
    color: #b4b72f;
    font-weight: 700;
    position: absolute;
    position: absolute;
    right: 10px;
    top: 14px;
  }

  ul.be-select-tab.active li {
    display: block;
    text-align: left;
  }
  .tab-data .clickme a.active, .tab-data .clickme a:hover, .tab-data .clickme.active a, .tab-data .clickme.active a:hover {
    color: #fff;
    border: none;
    text-align: left;
  }
  ul.be-select-tab.active li a.active:after {
    display: none;
  }
  .tab-data ul{
  	padding: 0;
  }
  .category-page ul.be-select-tab.tab-select{
  	right: 1%;
  }
  .category-page .video-btn{
  	width: 34px;
  	height: 34px;
  	margin: -17px 0 0 -17px;
  }
}
@media (max-width: 1000px){
	header{
		top: 20px;
	}
	.content{
		padding: 0 20px;
	}
	.category-page header{
		padding: 20px 0;
	}
}
@media (max-width: 991px){
	header{
		z-index: 99;
	}
	.mobIcon {
	  display: block;
	}
	.top nav{
		display: none;
		width: 100%;
		position: absolute;
    left: 0;
    top: 70px;
    padding: 0 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #000;
    z-index: 99;
	}
	.category-page .top nav{
		top: 90px;
	}
	.top nav ul, .top nav li, .top nav a{
		width: 100%;
		display: block;
	}
	.top nav li, .top nav a{
		float: none;
		padding: 0;
	}
	.top nav li{
		border-bottom: 1px solid #fff;
	}
	.top nav li:last-child{
		border-bottom: none;
	}
	.top nav a{
		font-weight: 400;
	}
	.top nav a:after{
		display: none;
	}
	.login {
    background: none;
    border-radius: 0;
    padding: 0;
	}
	nav .my-account{
		width: 100%;
    text-align: right;
    top: 0;
	}
	nav .my-account a{
		display: inline-block;
    width: auto;
    margin: 0;
    float: left;
    line-height: normal;
    max-width: 280px;
    text-align: left;
    padding: 15px 0;
	}
	nav .my-account{
		border-top: 1px solid #fff;
	}
	.my-account img{
		width: 50px;
		height: 50px;
		margin: 5px 0 0;
	}
	.top nav .my-account ul{
		padding: 0 0 5px;
		position: relative;
		display: none;
	}
	.top nav .my-account span:hover + ul{
		display: block;
	}
	.my-account ul li{
		border: none;
		border-top: 1px solid #fff;
		text-align: left;
	}
	.my-account ul li a{
		padding: 12px 0;
	}
	.banner-slider .slick-track {
    height: 465px;
	}
	.banner-thumb .slick-list{
		padding: 0 !important;
	}
	.banner-text h2{
		font-size: 75px;
	}
	.banner-text p{
		font-size: 20px;
	}
	.video-banner{
		width: 65px;
		height: 65px;
		margin: -32.5px 0 0 -32.5px;
	}
	.thumb-content{
		height: auto;
		padding-top: 75%;
	}
	.thumb-content strong{
		padding: 15px;
		font-size: 20px;
	}
	.thumb-content strong span{
		font-size: 14px;
	}
	.title{
		font-size: 35px;
	}
	.content p{
		font-size: 22px;
	}
	.img-div strong{
		font-size: 25px;
	}
	.img-div strong span{
		font-size: 16px;
	}
	.img-div strong{
		padding: 30px 20px;
		background: url(../images/browse-bg.png) left top repeat-x;
	}
	.footer{
		position: relative;
	}
	.foot-left, .social{
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.foot-left nav{
		margin: 0;
	}
	.foot-left nav a{
		margin-bottom: 10px;
	}
	.footer nav li{
		padding: 0 10px;
	}
	.copy-text{
		position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
	}
	.social{
		margin: 20px 0;
	}
	.social a{
		display: inline-block;
		margin: 0 10px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}
@media (max-width: 768px){
	.dashboard-banner h2{
		font-size: 35px;
	}
	.content p {
    font-size: 18px;
	}
	.title{
		font-size: 26px;
	}
	.tab-data .title{
		margin-bottom: 30px;
	}
	ul.be-select-tab.tab-select{
		top: -4px;
	}
}
@media (max-width: 767px){
	.video-desk{
		display: none;
	}
	.overlay-div{
		position: relative;
	}
	.overlay-div .mob-video-img{
		display: block;
	}
	.thumb-content {
		padding-top: 56.25%;
	}
	.thumb-content strong{
		display: none;
	}
	.banner-thumb .slick-arrow{
		top: 50%;
	}
	.banner-text h2 {
    font-size: 55px;
	}
	.banner-text p {
    font-size: 15px;
    padding: 5px 0 0;
	}
	.title{
		font-size: 28px;
		margin: 40px 0 30px;
	}
	.content p {
    font-size: 20px;
    padding: 0 0 15px;
	}
	.browse{
		text-align: center;
	}
	.video-cat{
		text-align: left;
	}
	.category-page h1{
		margin-bottom: 20px;
		font-size: 30px;
	}
	.img-div{
		width: 450px;
		margin: 2% 0;
	}
	.slick-current .banner-text{
		top: -20%;
	}
	.img-div strong{
		display: none;
	}
	.video-cat-list li{
		width: 48%;
    margin: 1% 0.7%;
	}
}
@media (max-width:640px){
	.banner-slider .slick-track {
    height: 390px;
	}
	.video-btn {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 500px){
	.img-div{
		width: 100%;
	}
}
@media (max-width: 420px){
	header{
		top: 0;
    position: relative;
    padding: 15px 0;
    float: left;
	}
	.dashboard-banner h2, .title{
		font-size: 20px;
	}
	.title{
		padding: 0 0 0 15px;
		margin: 20px 0;
	}
	.category-page h1{
		padding: 0 0 0 15px;
		margin-bottom: 10px;
	}
	.cat-filter{
		margin: 0 0 10px 15px;
	}
	.content p, h3.title{
		font-size: 16px;
	}
	.video-banner, .video-lib-detail{
		width: 30px;
		height: 30px;
		margin: -15px 0 0 -15px;
	}
	.tab-div{
		margin: 0;
	}
	.tab-data .clickme a{
		font-size: 15px;
    padding: 0 12px 10px;
	}
	.tab-data .clickme a.active, .tab-data .clickme a:hover{
    border-width: 3px;
	}
	.videolib-slider ul{
		margin: 0;
	}
	.dashboard-banner p{
		font-size: 14px;
	}
	.videolib-detail .dashboard-banner-text{
		padding-top: 15px;
		float: left;
	}
	.videolib-pop .simplePopupClose{
		top: 0;
		right: 0;
	}
	.logo{
		width: 160px;
	}
	.logo img{
		width: 100%;
	}
	.dashboard-banner-text{
		display: block;
		padding: 15px;
	}
	.dashboard-banner-text p{
		margin: 5px 0 0;
		padding: 0;
	}
	.videolib-detail .dashboard-bg{
		padding: 60% 0 0;
	}
	.category-page .videolib-detail .dashboard-bg{
		padding: 65% 0 0;
	}
	.dashboard-banner{
		display: block;
		padding: 20px 0;
	}
	.dashboard-bg{
		background-position: center -35px;
	}
	.videolib-slider li{
		margin: 0 5px;
	}
	.videolib-slider .slick-list{
		padding: 0 20px 0 0;
	}
	ul.be-select-tab.tab-select {
    right: inherit;
    left: 15px;
    top: 40px;
	}
	ul.be-select-tab.tab-select:after{
		top: 11px;
	}
	.tab-container{
		margin: 75px 0 0;
	}
	.video-btn{
		width: 30px;
		height: 30px;
		margin: -15px 0 0 -15px;
	}
	.category-page .wrapper .content{
		padding: 0 10px;
	}
	.category-page .videolib-detail .dashboard-banner-text{
		padding-left: 5px;
	}
}
@media (max-width: 360px){
	.tab-data .clickme a{
		font-size: 13px;
	}
}
@media (max-width: 325px){
	.tab-data .clickme a{
		padding: 0 7px 10px;
	}
	ul.be-select-tab.tab-select li {
    font-size: 1.02em;
    padding: 10px 0;
  }
  ul.be-select-tab.tab-select li a.active:after {
    font-size: .75em;
    right: -20px;
  }
  .video-cat-list li {
    margin: 1% 0.65%;
  }
}